* {
  box-sizing: border-box !important;
  font-family: 'Inter', sans-serif !important;
  /* border: 1px solid gray !important; */
}
.tw {
  font-family: 'Titillium Web', sans-serif !important;
}

:root {
  --gray: #aaaaaa;
  --gl: #aaaaaa53;
  --yellow-hover: #f1cb5f;
  --yellow: #ffc836;
  --yellow-active: #e2b12b;
  --red-hover: #cd1f34;
  --red: #bd0017;
  --red-active: #9d091a;
}

#appContainer {
  max-width: 1024px;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
}

.input {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--gray);
  background: white;
  box-shadow: none !important;
}
.input:focus-visible {
  border: 2px solid var(--yellow) !important;
}

.btn {
  border-radius: 10px !important;
  padding: 16px !important;
}
.yellowBtn {
  background: var(--yellow) !important;
  color: black !important;
}
.yellowBtn:hover {
  background: var(--yellow-hover);
}
.yellowBtn:active {
  background: var(--yellow-active);
}
.roundBtn {
  border-radius: 100% !important;
}
.redBtn {
  background: var(--red) !important;
  color: white !important;
}
.redBtn:hover {
  background: var(--red-hover);
}
.redBtn:active {
  background: var(--red-active);
}

.nav {
  width: 100%;
  height: 70px;
  justify-content: center;
  gap: 0 !important;
  background: white;
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 32px;
  box-shadow: 0 0 5px var(--gl);
}
.selectedNav {
  color: var(--red);
}
.bs {
  box-shadow: 0 0 5px var(--gl);
}
